*.iml
.gradle
/.idea/
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/src/main/AndroidManifest.xml
/app/build.gradle
/build.gradle
/app/src/androidTest/java/com/example/lab12/ExampleInstrumentedTest.kt
/app/src/test/java/com/example/lab12/ExampleUnitTest.kt
/gradle.properties
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/gradlew
/gradlew.bat
/app/proguard-rules.pro
/settings.gradle
